body {
  margin: 0;
  padding: 0;
  background: url("heart-bg.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.envelope {
  width: 150px;
}

h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: black;
  color: white;
  position: absolute;
}

.cat {
  width: 200px;
  margin-top: 30px;
}

.hidden {
  display: none;
}
